body{
    background-image: url('cat.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header{
    background-image: url('cat.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
}