.container{
  width: 1080px;
  background-color: #ddd;
  margin: 0 auto; /*center elements*/
}
.divy{
  border: 1px dashed #222;
  height: 200px;
}
#navbar{
  height: 70px;
  background-color: black;
  color: aliceblue;
}
/*move the footer back to the bottom after floating main and sidemenu*/

/*

Um Floats aufzuheben existiert die clear-Eigenschaft von CSS. 
Mit clear:left; werden vorherige float:left;-Befehle aufgehoben, 
mit clear:right; vorherige float:right;-Angaben. 

Wenn alle Floats aufgehoben werden sollen, schreibt man clear:both;.

*/
.clearfix{
  clear: both;
}
.bgcolor{
  background-color: white;
}

#navbar a{
  text-decoration: none;
  color: white;
  display: inline;
}
#navbar a:hover{
  background-color: red;
  color: white;
}
#navbar ul{
  background-color: black;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
#navbar ul li{
  display: inline-block;
  margin: 10px; /*or also padding*/
}

.col1{
  background-color: aliceblue;
  float: left;
  width: 30%;
  padding: 10px;
}

.col2{
  background-color: red;
  width: 30.5%;
  display: inline-block; /*this is needed to get the content2 div into the second column*/
  padding: 11px;
}

.col3{
  background-color: blue;
  width: 33%;
  float: right;
  padding: 11px;
}